NEXT_PUBLIC_SUPABASE_URL=https://snuunauwtuqyibmcajzh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_r_4B33JNzqJuZnmfYd_Yrg_rFVqoj_4

SUPABASE_URL=https://snuunauwtuqyibmcajzh.supabase.co
SUPABASE_ANON_KEY=sb_publishable_r_4B33JNzqJuZnmfYd_Yrg_rFVqoj_4
